<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBa8foLzu_3hOW9enL_8Wqro3wGaO2S8tk</string>
	<key>GCM_SENDER_ID</key>
	<string>895528592522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.here</string>
	<key>PROJECT_ID</key>
	<string>here-hackathon-iitb</string>
	<key>STORAGE_BUCKET</key>
	<string>here-hackathon-iitb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895528592522:ios:148bb411f5816c1abc7973</string>
</dict>
</plist>